---
import Layout from '../layouts/Layout.astro';

import Doc from '../components/Doc.md'

//text-center
---

<Layout title="About" >
	<main id="docs" class="prose dark:prose-invert ml-auto mr-auto ">
		<Doc />
	</main>
</Layout>

