---
import Layout from '../layouts/Layout.astro';

import Doc from '../components/Doc.md'
---

<Layout title="About" >
	<main id="docs" class="prose dark:prose-invert ml-auto mr-auto mb-5">
		<Doc />
	</main>
</Layout>

